section
  .self-top.raleway.f3.text-shadow Search as a Service

  .frn.h4.mt3

    .fa.fcn.pa2.w-50.f6
      .fa.fvc Data pushed as JSON
      .fa.fvc Full text search API
      .fa.fvc Fast, Relevant, Reliable
      .fa.fvc Scratching our own itch...
      
    .fa.w-50.fc
      .bg-black-80.br2.pa1.lh-0
        img.br1(src='./img/algolia-autocomplete.gif')
