section
  a.link.f4.white.text-shadow.code(href='https://community.algolia.com/docsearch/')
    |community.algolia.com/docsearch/

  .frn.h4.mt2

    .fa.w-50.fc
      img.shadow-4.br1(src='./img/apply-form.png')

    .fa.fcn.pa2.w-50.f6
      .fa.fvc URL + email
      .fa.fvc No account needed
      .fa.fvc Free and open source
