section
  .self-top.raleway.f3.text-shadow Crawler

  .frn.h4.mt3

    .fa.bg-black-80.br2.pa1.fcn
      .fn.fc.frn
        .fa.fc.w-33
          img.tc.br1(src='./img/logo-scrapy.png')
        .fa.white.f1.tc +
        .fa.fc.w-33
          img.tc.br1(src='./img/logo-docker.png')
      .fa.fvc.i.tc Crawl the website every 24 hours, extracting HTML to JSON and pushing it to Algolia.

      a.fa.fvc.link.white.b.tr.self-end(href='https://github.com/algolia/docsearch-scraper')
        | Available on GitHub
        img.h1.bg-white.br-100.ml1(src='./img/logo-github.png')

