section
  .self-top.raleway.f3.text-shadow How it works

  img.mt3.br1(src='./img/howitworks.png')

  .frn.f6
    .fa.w-40
      .tc Crawl
      .tc website
    .fa
      .tc Push to
      .tc Algolia
    .fa.w-40
      .tc Search through
      .tc JavaScript

