section
  .self-top.raleway.f3.text-shadow Front-end

  pre.bg-near-black.f7.br1.mt3.pa2
    code.language-js
      |docsearch({
      |  apiKey: '4815162342b4d455d34db33fc4f3f00d',
      |  indexName: 'react',
      |  inputSelector: '#search-input'
      |});



  a.lh-0.db.link.white.b.f6.mt3.tr(href='https://github.com/algolia/docsearch')
    | Available on GitHub
    img.di.h1.bg-white.br-100.ml1(src='./img/logo-github.png')
