section
  .self-top.raleway.f3.text-shadow 200+ integrations

  .frw.mt3
    .w-14.fn.fc.pa1
      img(src='./img/logo-babel.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-eslint.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-webpack.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-yarn.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-react.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-vuejs.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-ember.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-hugo.png')
    .w-14.fn.fc.pa1
      img.bg-yellow.br1(src='./img/logo-middleman.svg')
    .w-14.fn.fc.pa1
      img(src='./img/logo-scala.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-docker.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-browsersync.png')
    .w-14.fn.fc.pa1
      img(src='./img/logo-cordova.png')
    .w-14.fn.fc.pa1
      img.fragment(src='./img/logo-bootstrap.svg')
