section
  .raleway.f3.text-shadow Meet DocSearch

  .frn.h4.mt3
    .fa.fcn.pa2.w-50.f6
      .fa.fvc Dropdown
      .fa.fvc Search in all pages
      .fa.fvc Instant UI feedback
      .fa.fvc Direct access to API

      
    .fa.w-50.fcn.fc
      .bg-black-80.br2.pa1.lh-0
        img.br1(src='./img/react-search-animated.gif')

