section
  .raleway.f3.text-shadow Search is hard

  .frn.h4.mt3
    .fa.fcn.pa2
      .fa.fvc.f6
        | Google and 
        .di.code.ph1.bg-dark-gray.br1.hack.near-white.f6.ml1 Ctrl + F
      .fa.fvc No typo-tolerance
      .fa.fvc Slow
      
    .fa.w-50.bg-black-80.br2.pa1
      .fa.fc
        img.mb1(src='./img/bootstrap-search.png')
      img.br1(src='./img/bootstrap-search-animated.gif')

