section

 .fcn.h4.relative
    img.fn.h2.center.mt3(src='./img/docsearch.svg')
    .fa.tc The easiest way to add search to your documentation

    .absolute.frn.fc.h2.bottom--2.left-0
      .fn.fc.h2.mr2
        img.br-100(src='./img/tim.png')
      .fn.fcn.f7.h2
        .fa.fvc.b Tim Carry (@pixelastic)
        .fa.fvc.i Developer Advocate

